body{
    background-image: url(about-bg.png);
    background-position: contain;
    font-family: "Poppins", Arial, sans-serif;
}
/* Header */
.logo{
    text-decoration: none;
    color: #7C50EC;
}
.nav-link{
    font-weight:700;
    font-style: "Rubik", sans-serif;
}
.nav-link:hover{
    color: #7C50EC;
}
.active{
    color: #7C50EC !important;
}
/* Make header sticky */
.header-area {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white; /* Keep header visible */
  box-shadow: none; /* Initially no shadow */
  transition: all 0.3s ease;
}

/* Add shadow when scrolling */
.header-area.sticky {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

/* Header End/ */
/* Hero-Section */
.hero-section{
    transition: all 1s ease;
    opacity: 0;
    transform: translateY(80px);
}
.show {
      opacity: 1;
      transform: translateY(0);
    }
.bg-img{
    background-image: url('bg-logo.png'); 
    background-size: contain;
    background-position: left ;
    background-repeat: no-repeat;

}
.hero-heading{
    font-size: 40px;
    margin-bottom: 20px;
    position: relative;
    text-transform: uppercase;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    color: #000000;
}
.hero-heading::after{
    content: '';
    width: 410px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: auto;
    background: #000000;
}
.name{
    font-size: 50px;
    line-height: 60px;
    text-transform: uppercase;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    color: #000000;
}
.skill {
    font-size: 24px;
    margin-bottom: 35px;
    text-transform: uppercase;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    color: black;
    white-space: nowrap; /* Correct syntax */
    overflow: hidden;
    border-right: 3px solid black; /* Cursor */
    width: 0ch; /* Start from 0 width */
    animation: typing 4s steps(30) forwards, blink 0.7s step-end infinite;
}

@keyframes typing {
    from {
        width: 0ch;
    }
    to {
        width: 30ch;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.right-img{
    animation: float 3s ease-in-out infinite;
    }
    @keyframes float {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-20px);
        }
        100% {
            transform: translateY(0);
        }
}
.hire-btn{
    color: white;
    background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 46px;
    border-radius:5px ;
    text-decoration: none;
    box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
    border: 2px solid transparent;
}
.hire-btn:hover{
    background-image: linear-gradient(#ffffff, #ffffff), radial-gradient(circle at top left, #4458dc, #854fee);
    border: 2px solid #854fee;
    color: #222222;
    transition: all 0.4s ease-in;
}
.cv-btn{
    background-image: linear-gradient(#ffffff, #ffffff), radial-gradient(circle at top left, #4458dc, #854fee);
    border: 2px solid #854fee;
    color: #222222;
    text-decoration: none;
    border-radius:5px;
    margin-left: 20px;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 46px;
}
.cv-btn:hover{
    color: white;
    background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
    transition: all 0.4s ease-out;
}


/* Hero End */
/* About */

#about-section{
    padding: 170px  0px;
}
.main-title h1{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 50px;
    text-transform: uppercase;
}
.main-title p{
    margin-bottom: 20px;
    line-height: 26px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: rgb(119, 119, 119);
}
.down-cv{
    color: white;
    background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 46px;
    border-radius:5px ;
    text-decoration: none;
    box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
    border: 2px solid transparent;
    text-transform: uppercase; 
}
.down-cv:hover{
    background-image: linear-gradient(#ffffff, #ffffff), radial-gradient(circle at top left, #4458dc, #854fee);
    border: 2px solid #854fee;
    color: #222222;
    transition: all 0.4s ease-in;
}
/* Resume Section */
#resume-section{
    padding-bottom:170px;
}
.resume-data{
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    background: rgb(249, 249, 253);
    transition: all 0.7s ease 0s;
}
.resume-data:hover{
    box-shadow: 0px 15px 30px rgba(77, 87, 222, 0.3);
    background: #fff;
}
.resume-data .date{
    font-weight: 900;
    font-size: 26px;
    color: #854fee;
    text-align: start;
}
.degree-title{
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 400;
}
.position{
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.resume-data p{
    color: #777777;
}


/* Resume End */
/* Brand Section */
#brand-section{
    padding-bottom:170px;
}
.single-brand-item {
    width: 170px;
    height: 100px;
    cursor: pointer;
    margin-bottom: 30px;
    border: 1px solid #eeeeee;
    box-shadow: none;
    transition: all 0.4s ease-in-out;
}
.single-brand-item img {
    filter: none;
    transition: filter 0.4s ease-in-out;
}
.single-brand-item:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-color: #dddddd; 
}
.single-brand-item:hover img {
    filter: brightness(0%);
}
.client-info{
    position: relative;
    background-color: #FAF8FF;
}
.client-info::before{
    background-image: url(client-info-bg.png);
    background-repeat: no-repeat;
    content: '';
    position: absolute;
    top: -40px;
    left: -50px;
    height: 175px;
    width: 175px;
}
.mb-50{
    margin-top: 50px;
}
.large{
    color: rgb(133, 79, 238);
    font-family: "Rubik",;
    font-size: 100px;
    font-weight: 700;
    line-height: 85px;
    margin-left: 30px;
}
.small{
    text-align: left;
    color: rgb(0, 0, 0);
    font-family: "Rubik", sans-serif;
    font-size:18px;
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 600;
    line-height: 26px;
}
.call-now{
    margin-top: 50px;
    margin-left: 10px;
}
.call{
    font-size: 60px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}
.call-us span{
    color: rgb(133, 79, 238);
    font-size: 16px;
    margin-bottom: -5px;
}
.call-now h3{
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    color: rgb(0, 0, 0);
    font-size: 24px;
    margin-top: 5px;
}
/* Brand End */
/* Services */

#services-section{
    padding-bottom: 170px;
}
.text-center{
    margin-bottom: 100px;
}
.col-lg-12-para{

    line-height: 26px;
    font-size: 15px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: rgb(119, 119, 119);
}
.col-lg-12-heading{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 50px;
    text-transform: uppercase;
}
.feature-item{
    text-align: center;
    margin-bottom: 30px;
    padding: 45px 25px;
    background: rgb(249, 249, 253);
    transition: all 0.7s ease 0s;
}
.feature-item:hover{
    box-shadow: 0px 15px 30px rgba(77, 87, 222, 0.3);
    background: #fff;
}
.feature-item img{
    margin-bottom: 20px;
}
.feature-item h4{
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Rubik",sans-serif;
    font-weight: 700;
    color: rgb(0, 0, 0);
}
.feature-item p{
    margin-bottom: 20px;
    line-height: 26px;
    font-size: 15px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: rgb(119, 119, 119);
}
/* services end/ */
/* Project start */
#projects{
     padding-bottom: 170px;
}
.view-proj{
    color: white;
    background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 46px;
    border-radius:5px ;
    text-decoration: none;
    box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
    border: 2px solid transparent;
    text-transform: uppercase; 
}
.view-proj:hover{
    background-image: linear-gradient(#ffffff, #ffffff), radial-gradient(circle at top left, #4458dc, #854fee);
    border: 2px solid #854fee;
    color: #222222;
    transition: all 0.4s ease-in;
}
/* Project end */
/* testimonial start */

#testimonial-area{
    padding-bottom: 170px;
}
.bg-color{
    background-color: #FBFBFF;
    box-shadow: 0px 5px 5px rgba(197, 200, 245, 0.3);
}
.bg-color:hover{
    box-shadow: 0px 15px 30px 0px rgba(221, 221, 221);
    transition: all 0.4s ease 0s;
}
.testi-title h4{
    font-size: 20px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: "Rubik",;
    font-weight: 700;
    color: #000000;
    line-height: 1.2;
}
.testi-title p{
    line-height: 26px;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #777777;
}
/* testimonial end/ *


/* Contact */
.contact-detail{
    display: flex;
    padding-bottom: 40px;
}
.contact-detail:hover .c-icon{
    background-image: linear-gradient(#ffffff, #ffffff),
    radial-gradient(circle at top left, #4458dc, #854fee);
    border: 2px solid #854fee;
    color: #222222;
    transition: all 0.3s ease-in;
}
.c-icon{
    border-radius: 50%;
    background-color: #1A1A1A;
    padding: 10px;
    color: white;
    width: 44px;
    height: 44px;
    text-align: center;
}
.c-detail{
    padding-left: 15px;
}
.c-detail a{
    text-decoration: none;
    font-size: 16px;
    color: rgb(119, 119, 119);
}
.contact-form .form-control {
    padding: 18px 25px; /* Generous padding for input fields */
    border-radius: 5px; /* Consistent border-radius */
    font-size: 16px;
    color: #343f52; /* Text input color */
    font-family: 'Rubik', sans-serif;
}

.contact-form .form-control::placeholder {
    color: #63688e; /* Placeholder text color */
    opacity: 0.8;
}
.contact-submit-btn {
    color: white;
    background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 46px;
    border-radius:5px ;
    text-decoration: none;
    box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
    border: 2px solid transparent;
    text-transform: uppercase; 
}

.contact-submit-btn:hover {
    background-image: linear-gradient(#ffffff, #ffffff), radial-gradient(circle at top left, #4458dc, #854fee);
    border: 2px solid #854fee;
    color: #222222;
    transition: all 0.4s ease-in;
}


/* Contact end */
/* Footer */
footer{
    background-color: black;
    padding: 5rem 0rem;
    line-height: 1.8;
}
.title{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}
.details{
    text-decoration: none;
    color: #A8B3B3;
}
.footer-para{
    color: #A8B3B3;
}
.footer-social ul li a{
    text-decoration: none;
    list-style-type: none;
    color: #A8B3B3;
    border-radius: 50%;
    background-color: #1A1A1A;
    padding: 10px;
}
.footer-links ul li{
    list-style-type: none;
    color:#A8B3B3 ;
}
.footer-links ul li a{
    list-style-type: none;
    text-decoration: none;
    cursor: pointer;
    color: #A8B3B3;
}
.i-color p{
    color: #A8B3B3; 
}
    /* Footer End */


/* Responsiveness */
/* For Small Screens */
@media (max-width: 575.98px) { 
    .hero-section,.brand-section,.about-section{
        padding-left: 10px;
    }
    .hero-heading{
        font-size: 30px;
    }
    .hero-heading::after{
        display: none;
    }
    .name{
        font-size: 60px;
        line-height: 1.3;
    }
    .hire-btn , .cv-btn , .about-us-img , .brand-section, .right-img{
        display: none;
    }
    .skill{
        font-size: 20px;
    }
    .main-title h1{
        font-size: 25px;
    }
    .subs-form input{
        min-width: 20px;
        margin-bottom: 10px;
    }
 }
 /* For Medium Screens */
 @media (max-width: 767.98px) {
    .hero-heading::after{
        width: 300px;
        left: auto;
    }
    .right-img, .about-us-img{
        display: none;
    }
    .subs-form input{
        margin-bottom: 10px;
    }
 }
 /* For Lg Screens */
 @media (max-width: 991.98px) {
    .right-img, .about-us-img{
        display: none;
    }
    .projects-space{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
 }


